In [10]:
import streamlit
print(streamlit.__file__)
import pandas as pd
import numpy as np

/Users/tanirena/opt/anaconda3/lib/python3.9/site-packages/streamlit/__init__.py

In [11]:
df = pd.DataFrame(
    np.random.rand(20, 3),
    columns=['a', 'b', 'c']
)


df

           a         b         c
0   0.960650  0.110662  0.237121
1   0.030298  0.589147  0.976343
2   0.547017  0.212513  0.670739
3   0.225326  0.870875  0.879418
4   0.697473  0.787890  0.202923
5   0.880713  0.615117  0.248359
6   0.648910  0.318298  0.041534
7   0.748943  0.426091  0.414658
8   0.586574  0.071925  0.322633
9   0.872185  0.294977  0.126912
10  0.928816  0.042792  0.802569
11  0.467513  0.037839  0.283900
12  0.914160  0.074952  0.539083
13  0.097901  0.284400  0.425003
14  0.812289  0.527463  0.867639
15  0.901847  0.841762  0.377481
16  0.530178  0.654423  0.315243
17  0.810954  0.281116  0.066192
18  0.127934  0.254659  0.525002
19  0.045634  0.133854  0.734100

In [4]:
pip install pandas

Requirement already satisfied: pandas in /Users/tanirena/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/tanirena/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/tanirena/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/tanirena/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/tanirena/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install numpy

Requirement already satisfied: numpy in /Users/tanirena/opt/anaconda3/lib/python3.9/site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.